/* Scroll Bar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #101619;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Default Css */

* {
    user-select: none;
}

body {
    background-color: #0b0f14;
    color: #fff;
    font-family: Arial, sans-serif;
}


/* Search Bar */

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1em;
}


/* Bottom player */

.search-bar input {
    width: 50%;
}

.search-bar div {
    position: absolute;
    right: 0;
    margin-right: 1em;
}


/* User*/

.user {
    border-radius: 50px;
    width: 35px;
    margin-right: 5px;
}


/* Icons*/

.icon {
    fill: aliceblue;
    /* Add a border color */
    stroke-width: 1px;
    width: 14px;
    height: 14px;
    margin: 4px;
}


/* For laptops and desktops */

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
    /* Sidebar */
    .sidebar {
        background-color: #15191e;
        height: 75vh;
        width: 20vw;
        padding: 1rem;
        margin: 1em;
    }
    .sidebar a {
        color: #fff;
        text-decoration: none;
        margin: 0.8rem 0;
        display: block;
    }
    .sidebar a:hover {
        color: #f3904f;
    }
    /* Main Layout */
    .main-layout {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    /* Main Content */
    .main-content {
        position: absolute;
        padding: 1em;
        width: 79vw;
        height: 75vh;
        right: 0%;
    }
    /* Song Container */
    .main {
        background-color: #15191e;
        padding: 1em;
        padding-bottom: 1.1em;
        border-radius: 15px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 1em;
        max-height: 100%;
        height: auto;
    }
}


/* For tablets (portrait and landscape) */

@media (min-width: 767px) and (max-width: 992.98px) {
    /* Sidebar */
    .sidebar {
        display: none;
        background-color: #15191e;
        height: 80vh;
        padding: 1rem;
    }
    .sidebar a {
        color: #fff;
        text-decoration: none;
        margin: 0.8rem 0;
        display: block;
    }
    .sidebar a:hover {
        color: #f3904f;
    }
    .main {
        background-color: #15191e;
        padding: 1em;
        padding-bottom: 1.1em;
        border-radius: 15px;
        margin-bottom: 3em;
        margin-top: 1em;
        margin-left: 1em;
    }
}


/* For tablets (portrait and landscape) */

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        background-color: #b6c510;
        /* Example: light cyan background for tablets */
        font-size: 16px;
    }
    /* 3-dot menu  */
    .menu-toggler {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
    }
    /* Sidebar */
    .sidebar {
        display: none;
        background-color: #15191e;
        height: 80vh;
        padding: 1rem;
    }
    .sidebar a {
        color: #fff;
        text-decoration: none;
        margin: 0.8rem 0;
        display: block;
    }
    .sidebar a:hover {
        color: #f3904f;
    }
    .search-bar input {
        width: 50%;
    }
    .search-bar div {
        position: absolute;
        right: 0;
        margin-right: 1em;
    }
    .main {
        background-color: #15191e;
        padding: 1em;
        padding-bottom: 1.1em;
        border-radius: 15px;
        margin-bottom: 3em;
        margin-top: 1em;
        margin-left: 1em;
    }
    /* Main Content */
    .main-content {
        padding: 0.4em;
        margin: 1em;
        right: 0%;
    }
}


/* For small phones (portrait and landscape) */

@media (max-width: 575.98px) {
    body {
        font-size: 14px;
    }
    /* 3-dot menu  */
    .menu-toggler {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
    }
    .sidebar {
        display: none;
        background-color: #15191e;
        height: 80vh;
        padding: 1rem;
    }
    .sidebar a {
        color: #fff;
        text-decoration: none;
        margin: 0.8rem 0;
        display: block;
    }
    .sidebar a:hover {
        color: #f3904f;
    }
    .main {
        background-color: #15191e;
        padding: 1em;
        padding-bottom: 1.1em;
        border-radius: 15px;
        margin-bottom: 3em;
        margin-top: 1em;
        /* margin-right: 1em; */
        margin-left: 1em;
    }
    /* Main Content */
    .main-content {
        padding: 1em;
        margin-top: 1em;
    }
    /* Player */
    .bottom-player {
        display: none;
        background-color: #15191e;
        color: #fff;
        padding: 0.8rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        width: 100%;
    }
}


/* Music player */

.music-card {
    cursor: pointer;
    position: fixed;
    bottom: 0%;
    right: 0%;
    left: 0%;
    width: 100%;
    margin: 0 auto;
    background-color: #15191e;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    background-color: #15191e;
}

.track-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.track-icon {
    height: 24px;
    width: 24px;
    color: #f59e0b;
}

.track-details {
    margin-left: 12px;
}

.track-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}

.track-artist {
    font-size: 0.9rem;
    color: #c9c9c9;
}

.card-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-heart {
    fill: red;
    cursor: pointer;
    stroke-width: 1px;
    width: 14px;
    height: 14px;
    margin: 4px;
}

.icon-star {
    height: 24px;
    width: 24px;
    color: #9ca3af;
    margin-left: 16px;
    cursor: pointer;
}

.icon-star:hover {
    color: #fbbf24;
}

.progress-container {
    position: relative;
    margin: 8px 8px 8px 8px;
    height: 6px;
    background-color: #e5e7eb;
    border-radius: 3px;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #f59e0b;
    border-radius: 3px;
}

.progress-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
    font-size: 0.85rem;
    color: #6b7280;
}


/* For large display */

.loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.loader:hover {
    cursor: pointer;
    background-color: rgba(240, 238, 238, 0.295);
}

.currentplaying {
    display: flex;
    margin: 1em;
}

.heading {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
}

.loading {
    display: flex;
    margin-top: 1em;
    margin-left: 0.3em;
}

.load {
    width: 2px;
    height: 33px;
    background-color: limegreen;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
}

.load:nth-child(1) {
    animation-delay: 0.2s;
}

.load:nth-child(2) {
    animation-delay: 0.4s;
}

.load:nth-child(3) {
    animation-delay: 0.6s;
}

.play {
    position: relative;
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: white;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
}

.albumcover {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
}

.song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    padding-top: 4px;
    color: white;
    align-self: center;
}

.name {
    margin: 0;
    color: white;
}

.artist {
    font-size: 0.6em;
    color: #c9c9c9;
}

@keyframes move6 {
    0% {
        height: 0.2em;
    }
    25% {
        height: 0.7em;
    }
    50% {
        height: 1.5em;
    }
    100% {
        height: 0.2em;
    }
}